# Created by .ignore support plugin (hsz.mobi)
.idea/
app/__pycache__/
maps/__pycache__/
wiki/__pycache__/
/bookNLPtextminingV4.0-uneintroduction.pdf
.DS_Store
/app/static/.DS_Store
app/tests/__pycache__/
/Makefile
/source/
/build/
__pycache__/
