#main_title {
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 30px;
    max-width: available;
}

#grandpa {
    float: right;
    width: 50px
}

#map {
    float: left;
    width: 500px;
    height: 500px
}

#container {
    bottom: 8px;
    right: 8px;
    position: absolute;

}
