html, body {
    height: 100%;
    min-height: 100%;
}


footer {
    height: 5%;
}

.map {
    float: left;
    height: 70%;
    margin-left: 5%;
    margin-right: 45%;
    width: 50%;
}

.profile-img {
    border-radius: 50%;
    max-width: 100%;
}

.msg-header {
    background-color: #007bff;
    border-bottom: none;
    display: inline-block;
    height: 10%;
    width: 100%;
}

.msg-header-img {
    border-radius: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 12px;
    padding: 0 0 0 0;
    width: 40px;
}

.active {
    float: left;
    margin-top: 10px;
    width: 20%;
}

.head {
    background-color: #007bff;
    display: flex;
    height: 10%;
    margin-bottom: 1px;
}

.foot {
    display: grid;
}

.column1 {
    grid-column: 1/2;
}

.column2 {
    grid-column: 2/2;
    text-align: right;
}

.link-img {
    padding-left: 10px;
    width: 5%;
}

.link {
    font-size: 12px;
    margin-bottom: 5px;
}

.logo-img {
    height: 80%;
    padding: 10px;
}

.chat-page {
    font-size: 0;
    height: 80%;
    padding: 0 0 0 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

.msg-page {
    height: 100%;
    margin-top: 0;
    overflow-y: auto;
}

.received-chats-img {
    display: inline-block;
    float: left;
    width: 20px;
}

.received-msg {
    display: inline-block;
    margin: 5px;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing-chats {
    margin: 26px 20px;
    overflow: hidden;
}

.chats {
    height: 100%
}

.outgoing-chats-msg {
    float: left;
    margin-left: 45%;
    width: 46%;
}

.outgoing-chats-img {
    display: inline-block;
    float: right;
    width: 20px;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.msg-bottom {
    background-color: #007bff;
    height: 10%;
}

.input-group {
    background-color: #fff;
    border-radius: 20px;
    float: right;
    height: 70%;
    margin-right: 20px;
    margin-top: 10px;
    outline: none !important;
    width: 61% !important;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    height: 80%
}


.page-name {
    font-family: Brush Script MT, serif;
}

.motto {
    font-size: 70%;
    font-style: italic;
}

.form-control:focus {
    border-color: #646464 !important;
    border-radius: 20px;
    box-shadow: none !important;
}

.active h4 {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.active h6 {
    color: #fff;
    font-size: 10px;
    line-height: 2px;
    margin-left: 10px;
}

.outgoing-chats-msg p {
    background: #007bff none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.head h4 {
    position: center;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
}

#main_title {
    background-color: deepskyblue;
    border-radius: 10px;
    max-width: 100%;
    padding: 30px;
}

#grandpa {
    float: right;
    width: 50px
}

#container {
    bottom: 8px;
    position: absolute;
    right: 8px;

}
#main-container {
    font-size: 0;
    height: 80%;
    margin: 0 0;
    padding: 0;
}

#inputText {
    width: 100%;
}

#outgoing-form {
    height: 100%;
    width: 100%;
}

#logo {
    border-radius: 50%;
}

#author {
    left: 5px;
    position: relative;
}

@media screen and (max-device-width: 480px) {
    .page-name {
    font-size: 40px;
    }

    .motto {
    font-size: 25px;
    }

    .time {
    font-size: 20px;
    }

    .link {
    font-size: 25px;
    }

    .msg-page p {
        font-size: 25px;
    }

    .msg-header h4 {
        font-size: 30px;
    }

    .msg-header h6 {
        font-size: 20px;
    }

    #inputText {
        font-size: 25px;
    }

    #author {
    font-size: 30px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    .page-name {
    font-size: 24px;
    }

    .motto {
    font-size: 20px;
    }

    .time {
    font-size: 15px;
    }


    .link {
    font-size: 20px;
    }

    .msg-page p {
        font-size: 20px;
    }
    .msg-header h4 {
        font-size: 25px;
    }

    .msg-header h6 {
        font-size: 15px;
    }

    #inputText {
        font-size: 20px;
    }

    #author {
    font-size: 25px;
    }
}
