<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Grand-Py Bot</title>
</head>
<body>
    <div class="container" id="main-container">
        <div class="msg-header">
            <div class="msg-header-img">
                <img class="profile-img" src="../static/Grandpa.jpeg">
            </div>
            <div class="active">
                <h4>GrandPy</h4>
                <h6>1 hour ago...</h6>
            </div>
        </div>
        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                    <div id="chat-zone" class="msg-page">
                        <div class="received-chats">
                            <div class="received-chats-img">
                                <img class="profile-img" src="../static/Grandpa.jpeg" alt="GrandPy">
                            </div>
                            <div class="received-msg">
                                <div class="received-msg-inbox">
                                    <p>New message</p>
                                    <span class="time">12:00 PM | October 21</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing-chats">
                            <div class="outgoing-chats-msg">
                                    <p>Answer</p>
                                    <span class="time">12:02 PM | October 21</span>
                            </div>
                            <div class="outgoing-chats-img">
                                <img class="profile-img" src="../static/user.png" alt="user">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="msg-bottom">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="write message...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-paper-plane"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getDate() {
            const monthNames =  [
                "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet",
                "Août", "Septembre", "Octobre", "Novembre", "Décembre"
            ];
            let date = new Date();
            let hh = date.getHours();
            let mm = date.getMinutes();
            let dd = date.getDate();
            let MM = monthNames[date.getMonth()];

            return hh + ":" + mm + " | " + MM + " " + dd
        }

        function outgoingMessage(message) {
            let outgoing = new document.createElement("div");
            outgoing.className = "outgoing-chats";

            let outgoingMsg = new document.createElement("div");
            outgoingMsg.className = "outgoing-chats-msg";

            let answer = new document.createElement("p");
            answer.textContent = message;

            let datetime = new document.createElement("span");
            datetime.className = "time";
            datetime.textContent = getDate();

            let outgoingChatImg = new document.createElement("div");
            outgoingChatImg.className = "outgoing-chats-img";

            let outgoingProfile = new document.createElement("img");
            outgoingProfile.className = "profile-img";
            outgoingProfile.src = "../static/user.png";
            outgoingProfile.alt = "user";

            let msgPage = document.getElementById("chat-zone");
            outgoingMsg.appendChild(answer);
            outgoingMsg.appendChild(datetime);
            outgoingChatImg.appendChild(outgoingProfile);
            outgoing.appendChild(outgoingMsg);
            outgoing.appendChild(outgoingChatImg);
            msgPage.appendChild(outgoing);
        }

        function receivedMessage(message) {
            let received = new document.createElement("div");
            received.className = "received-chats";

            let receivedMsg = new document.createElement("div");
            receivedMsg.className = "received-msg";

            let answer = new document.createElement("p");
            answer.textContent = message;

            let datetime = new document.createElement("span");
            datetime.className = "time";
            datetime.textContent = getDate();

            let receivedChatImg = new document.createElement("div");
            receivedChatImg.className = "received-chats-img";

            let receivedProfile = new document.createElement("img");
            receivedProfile.className = "profile-img";
            receivedProfile.src = "../static/Grandpa.jpeg";
            receivedProfile.alt = "grandpy";

            let msgPage = document.getElementById("chat-zone");
            receivedMsg.appendChild(answer);
            receivedMsg.appendChild(datetime);
            receivedChatImg.appendChild(receivedProfile);
            received.appendChild(receivedChatImg);
            received.appendChild(receivedMsg);
            msgPage.appendChild(received);
        }

        let map;
        let marker;
        let latitude = 0;
        let longitude = 0;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(latitude, longitude),
                zoom: 12
            });
        }
        let form = document.querySelector("#form_id");
        form.addEventListener("submit", function (event) {
            event.preventDefault();

            fetch("/question", {
                method: "POST",
                body: new FormData(form)
            })
                .then(answer => answer.json())
                .then(answer => {
                    latitude = parseFloat(answer.coordonates[0].lat);
                    longitude = parseFloat(answer.coordonates[0].lng);
                    document.getElementById("textarea_id").textContent = answer.message;
                    if (typeof marker !== 'undefined') {
                       marker.setMap(null)
                    }
                    map.setCenter({lat: latitude, lng: longitude},
                    marker = new google.maps.Marker({position: {lat: latitude, lng: longitude},
                    map: map}))
                });
        });q
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI6WPMSEM0YvN81wqDaZsnbNmKNldwe_4&callback=initMap"></script>
</body>
</html>
